<div class="jumbotron">
  <div class="background-image"></div>
  <div class="container">
  	<div class="center">
	    <h1>Real Estate</h1>
    	<h2>The Easiest Way to Find Apartment Rentals in Myanmar</h2>

	    <%= render 'filter' %>
  	</div>
  </div>
</div>